/* MENU CUSTOM FONT */ 
@font-face {
    font-family: 'dream-avenue';
    src: url(/assets/fonts/Dream-Avenue.ttf);
}

/* BODY CUSTOM FONT */
@font-face {
    font-family: 'circularSpotifyLight';
    src: url(/assets/fonts/CircularSpotifyLight.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: #f5f4f2;
    font-family: 'circularSpotifyLight';
}

#header {
    height: 162px;
    width: 100%;
    background: #d9cdbd;
}

.center {
    width: 75%;
    margin: 0px auto;
}

#logo {
    width: 30%;
    float: left;
}

#logo img {
    display: block;
    float: left;
    height: 154px;
    margin-top: 6px;
    margin-right: -10px;
}

#menu {
    width: 70%;
    float: right;
    font-size: 30px;
}

#menu ul {
    line-height: 60px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    font-weight: bolder;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

#menu a {
    font-family: 'dream-avenue';
    text-decoration: none;
    color: #62676b;
    transition: 300ms all;
}

#menu a:hover {
    text-decoration:underline;
}

.clearfix {
    clear: both;
    float: none;
}

#content {
    width: 70%;
    float: left;
    min-height: 450px;
    margin-right: 20px;
}

form {
    align-items: center;
}

.formheader {
    color: #62676b;
    text-align: center;
    font-size:40px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.form-group{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.form-group .form-label{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}














.btn-submit {
    background: #964b0e;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width: 25%;
    border: none;
    cursor: pointer;
    transition: 300ms all;
}

.btn:hover{
    background: #3b3835;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar {
    background: #e5e3d6;
    padding: 25px;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 4px 4px 7px #9c9b9b;
}

.sidebar img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 450px;
}





























.btn {
    display: block;
    background: #964b0e;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    max-width: 120px;
    border: none;
    cursor: pointer;
    transition: 300ms all;
}

.btn:hover{
    background: #3b3835;
}

form button{
    background: #964b0e;
    color: white;
    padding: 15px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}


#footer{
    background: #6b6662;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: white;
}

footer p{
    margin: 0px;
    padding: 0px;
    text-align: center;
}